@page "/ErrandDetails"
@page "/ErrandDetails/{ErrandId}"
@inject IErrandService ErrandService;
@inject ICommentService CommentService;
@inject ITechnicianService TechnicianService;
@inject NavigationManager Navigation;

@if (_errand == null)
{
    <p>Loading...</p>
}
else
{
    <div class="mb-3">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Errand Details</h3>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" @onclick="ReturnToMyErrands">Back</button>
            </div>
        </div>
        <div class="card shadow mb-3">
            <table class="table">
                <tbody>
                <tr>
                    <th>Title</th>
                    <td>@_errand.Title</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>@_errand.Description</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        <select class="form-select" value="@SelectedStatus" @onchange="@ChangeStatus">
                            @foreach (var status in _statusList)
                            {
                                if (_errand.Status == status)
                                {
                                    <option selected value="@status.ToString()">@status.ToString()</option>
                                }
                                else
                                {
                                    <option value="@status.ToString()">@status.ToString()</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Last edited</th>
                    <td>@_errand.LastEdited.ToString("d")</td>
                </tr>
                <tr>
                    <th>Created at</th>
                    <td>@_errand.CreatedAt.ToString("d")</td>
                </tr>
                <tr>
                    <th>Created by</th>
                    <td>@_errand.CreatedBy</td>
                </tr>
                <tr>
                    <th>Technician</th>
                    <td>@_errand.Technician.Name</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 class="mb-3">Comments</h3>
        <div class="mb-3 card shadow">
            <div class="card-title p-1 m-1">
                <h4>Add comment</h4>
            </div>
            <form method="post" class="form-control">
                <div class="text-center">
                    <textarea @bind="Content" class="form-control" placeholder="Write comment here..."></textarea>
                    <button @onclick="AddCommentAsync" class="mt-1 mb-1 btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
        <div class="d-flex flex-column gap-2">
            @foreach (var comment in _comments.Take(5))
            {
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row border-bottom">
                            <div class="col-8 fw-bold mb-2">@comment.Author.Name</div>
                            <div class="col-4 fw-bold mb-2">@comment.PostedAt.ToString("d")</div>
                        </div>
                        <div class="row mt-2">
                            <div>@comment.Content</div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </div>


}

@code {
    public string Content;

    [Parameter]
    public string ErrandId { get; set; }

    ErrandModel _errand;

    public ErrandStatus SelectedStatus;

    readonly List<ErrandStatus> _statusList = Enum.GetValues(typeof(ErrandStatus)).Cast<ErrandStatus>().ToList();

    List<CommentViewModel> _comments;

    protected override async Task OnInitializedAsync()
    {
        _errand = await ErrandService.GetErrandByIdAsync(ErrandId);
        await PopulateViewModel();
    }

    private async Task PopulateViewModel()
    {
        _comments = new List<CommentViewModel>();

        foreach (var comment in _errand.Comments)
        {
            var commentViewModel = new CommentViewModel
            {
                Id = comment.Id,
                Author = await TechnicianService.GetTechnicianByIdAsync(comment.Author.ToString()),
                Content = comment.Content,
                PostedAt = comment.PostedAt
            };
            _comments.Add(commentViewModel);
        }
    }

    private void ReturnToMyErrands()
    {
        Navigation.NavigateTo($"MyErrands/{_errand.Technician.Id.ToString()}");
    }

    protected async void AddCommentAsync()
    {
        var commentModel = new CreateErrandCommentModel
        {
            Id = Guid.NewGuid(),
            Author = _errand.Technician.Id,
            Content = Content,
            PostedAt = DateTime.Parse(DateTime.Now.ToString("G")),
            ErrandId = _errand.Id
        };

        var statusCode = await CommentService.SaveCommentAsync(commentModel);
        if (statusCode.ToString() == HttpStatusCode.OK.ToString())
        {
            await App.Current.MainPage.DisplayAlert("Success", "Comment was saved", "Ok");
        }
        else
        {
            await App.Current.MainPage.DisplayAlert("Error", "Failed to save comment", "Ok");
        }
        await OnInitializedAsync();
    }

    protected async void ChangeStatus(ChangeEventArgs e)
    {
        var statusCode = await ErrandService.UpdateStatusAsync(ErrandId, e.Value.ToString());

        if (statusCode.ToString() == HttpStatusCode.OK.ToString())
        {
            await App.Current.MainPage.DisplayAlert("Success", "Status was updated", "Ok");
        }
        else
        {
            await App.Current.MainPage.DisplayAlert("Error", "Status update not succeed", "Ok");
        }
        await OnInitializedAsync();
    }
}